.gameContainer {
    background: radial-gradient(
        circle at 50% -25%,
        hsl(214, 47%, 23%) 15%,
        hsl(237, 49%, 15%) 50%
    );
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 11fr 2fr;
}

.choicePlayerContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    justify-items: center;
    margin: 0 auto;
    width: 80rem;
    margin-top: 8rem;
}

@media screen and (max-width: 1500px) {
    .choicePlayerContainer {
        width: 64rem;
    }
}

@media screen and (max-width: 1024px) {
    .choicePlayerContainer {
        margin-top: 2rem;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .choicePlayerContainer > div:nth-of-type(2) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        margin-top: 3rem;
    }
}
