.resultContainer {
    align-self: center;
    opacity: 0;
    animation: fadeIn 1.3s 3.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.resultContainer > p {
    text-align: center;
    color: white;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 1rem;
}

.resultContainer > button {
    margin: 0 auto;
    width: 15rem;
    background-color: white;
    color: hsl(214, 47%, 23%);
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 1rem 0;
    border-radius: 8px;
    font-weight: bold;
}

.resultContainer > button:hover {
    color: hsl(349, 71%, 52%);
    transition: all 0.3s ease-in-out;
}

.resultContainer > button:hover {
    transition: none !important;
}

.resultContainer > button:active {
    transition: none !important;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
